<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Instascan</title>
  </head>
  <body>
    <div class="container w-50 mt-5">
        <ul class="nav nav-tabs ">
          <li class="pl-3 pr-3 active"><a data-toggle="tab" href="#login"><h5>Login</h5></a></li>
          <li class="pl-3 pr-3"><a data-toggle="tab" href="#signup"><h5>Signup</h5></a></li>
        </ul>

        <div class="tab-content p-5">
            <div id="login" class="tab-pane fade show active">
                <div>
                    <div class="text-center">
                        <h3>Login</h3>
                    </div>
                    <form action="/login" method="post">
                        <label for="exampleInputEmail1">Email address</label>
                        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        <label for="exampleInputPassword1">Password</label>
                        <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary w-100 mt-3">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="signup" class="tab-pane fade">
                <div>
                    <div class="text-center">
                        <h3>Sign Up</h3>
                    </div>
                    <form action="/signup" method="post">
                        <label for="name">Name</label>
                        <input name="name" type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter Name">
                        <label for="phone">Phone Number</label>
                        <input name="phone" type="tel" class="form-control" id="phone" aria-describedby="phoneHelp" placeholder="Enter Phone">
                        <label for="exampleInputEmail1">Email address</label>
                        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <label for="exampleInputPassword1">Password</label>
                        <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary w-100 mt-3">Submit</button>
                        </div>
                    </form>
                </div>
             </div>
        </div>



    </div>
    <div>
        <form action=""
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>